{% extends 'website/base.html' %}
{% load staticfiles %}

{% block anchor %}
<li><a href="../match/">Match</a></li>
<li><a href="../search/">Search</a></li>
<li><a href="">My account</a></li>
<li><a href="../logout/">Log out</a></li>
{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'style/css/home.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(document).ready(function () {
        var h = $("#userPicture").css("height");
        $("#pictureAndName").css("height",h);
        var w = $("#main_container").css("width");
        var h = $("#userPicture").css("height");
        $("#pictureAndName").css("height",h);
        var w1 = parseInt(w.slice(0,w.length-2))
        if(w1 < 960){
            $("#home").css("width","960px");
        }else{
            $("#home").css("width","90%");
        }
        $(".ui-icon.ui-icon-pencil.summary").on('click',function () {
            if($("#summaryedit").css("display") == "none") {

                $("#summarytext").hide();
                $("#summaryedit").show();

                var ts = $("#summarytext").children("p").text();
                if($.trim(ts) != "God! There's a super LAAAAAZZZZY guy......"){
                    $("#summaryedit").children("form").children("textarea").val($.trim(ts));
                }
            }
        });
        $(".ui-icon.ui-icon-pencil.thinkings").on('click',function () {
            if($("#thinkingsedit").css("display") == "none") {
                $("#thinkingstext").hide();
                $("#thinkingsedit").show();

                var ts = $("#thinkingstext").children("p").text();
                if($.trim(ts) != "God! There's a super LAAAAAZZZZY guy......"){
                    $("#thinkingsedit").children("form").children("textarea").val($.trim(ts));
                }
            }
        });
        $(".ui-icon.ui-icon-pencil.entertainement").on('click',function () {
            if($("#entertainementedit").css("display") == "none") {
                $("#entertainementtext").hide();
                $("#entertainementedit").show();

                var ts = $("#entertainementtext").children("p").text();
                if($.trim(ts) != "God! There's a super LAAAAAZZZZY guy......"){
                    $("#entertainementedit").children("form").children("textarea").val($.trim(ts));
                }
            }
        });
        $(".ui-icon.ui-icon-pencil.we_behavior").on('click',function () {
            if($("#we_behavioredit").css("display") == "none") {
                $("#we_behaviortext").hide();
                $("#we_behavioredit").show();

                var ts = $("#we_behaviortext").children("p").text();
                if($.trim(ts) != "God! There's a super LAAAAAZZZZY guy......"){
                    $("#we_behavioredit").children("form").children("textarea").val($.trim(ts));
                }
            }
        });
        $(".ui-icon.ui-icon-pencil.essentials").on('click',function () {
            if($("#essentialsedit").css("display") == "none") {
                $("#essentialstext").hide();
                $("#essentialsedit").show();

                var ts = $("#essentialstext").children("p").text();
                if($.trim(ts) != "God! There's a super LAAAAAZZZZY guy......"){
                    $("#essentialsedit").children("form").children("textarea").val($.trim(ts));
                }
            }
        });
        $(".ui-icon.ui-icon-pencil.messaging_conditions").on('click',function () {
            if($("#messaging_conditionsedit").css("display") == "none") {
                $("#messaging_conditionstext").hide();
                $("#messaging_conditionsedit").show();

                var ts = $("#messaging_conditionstext").children("p").text();
                if($.trim(ts) != "God! There's a super LAAAAAZZZZY guy......"){
                    $("#messaging_conditionsedit").children("form").children("textarea").val($.trim(ts));
                }
            }
        });
        $("#summarybutton").on('click',function () {
            var data = {
                texta : $("#summaryedit").children("form").children("textarea").val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            };
            alert(data['texta']);
            $.ajax({
                type:'POST',
                url:'../edit/?'+'texta='+ $("#summaryedit").children("form").children("textarea").val(),
                dataType: 'script',
                success:function(){
                    $("#summarytext").show();
                    $("#summaryedit").hide();
                },
                error:function () {
                    alert("error");
                }
            });
        })

        $("#thinkingsbutton").on('click',function () {
            $("#thinkingstext").show();
            $("#thinkingsedit").hide();
        })
        $("#entertainementbutton").on('click',function () {
            $("#entertainementtext").show();
            $("#entertainementedit").hide();
        })
        $("#we_behaviorbutton").on('click',function () {
            $("#we_behaviortext").show();
            $("#we_behavioredit").hide();
        })
        $("#essentialsbutton").on('click',function () {
            $("#essentialstext").show();
            $("#essentialsedit").hide();
        })
        $("#messaging_conditionsbutton").on('click',function () {
            $("#messaging_conditionstext").show();
            $("#messaging_conditionsedit").hide();
        })
        $("#summarycb").on('click',function () {
            $("#summarytext").show();
            $("#summaryedit").hide();
        })
        $("#thinkingscb").on('click',function () {
            $("#thinkingstext").show();
            $("#thinkingsedit").hide();
        })
        $("#entertainementcb").on('click',function () {
            $("#entertainementtext").show();
            $("#entertainementedit").hide();
        })
        $("#we_behaviorcb").on('click',function () {
            $("#we_behaviortext").show();
            $("#we_behavioredit").hide();
        })
        $("#essentialscb").on('click',function () {
            $("#essentialstext").show();
            $("#essentialsedit").hide();
        })
        $("#messaging_conditionscb").on('click',function () {
            $("#messaging_conditionstext").show();
            $("#messaging_conditionsedit").hide();
        })
    })
    $(window).resize(function () {
        var w = $("#main_container").css("width");
        var h = $("#userPicture").css("height");
        $("#pictureAndName").css("height",h);
        var w1 = parseInt(w.slice(0,w.length-2))
        if(w1 < 960){
            $("#home").css("width","960px");
        }else{
            $("#home").css("width","90%");
        }
         location.reload();
    })
</script>
<div id="home">
    <div id="pictureAndName">
        <div id="profilePicture">
            <img id="userPicture" src="{{user.picture_url}}"/> <!-- Find a good image for the logo -->
        </div>
        <div id="userBasicInfo">
            <div id="username">
                {{ user.username }}
            </div>
            <div id="userAge">
                {% if user.gender == "w" %}
                    Women
                {% else %}
                    Men
                {% endif %}
                {% if user.sexual_orientation %}
                ,{{ user.sexual_orientation }}
                {% endif %}
                {% if user.looking_for %}
                    {% for looking in user.looking_for %}
                        {% if looking == "short_term" %}
                            Short.
                        {%elif looking == "long_term"%}
                            Long.
                        {%elif looking == "sex"%}
                            Sex.
                        {%else%}
                            Friend.
                        {%endif%}
                  {% endfor %}
                {% endif %}
                {% if user.age %}
                ,{{ user.age }}
                {% endif %}
            </div>
        </div>
    </div>
    <div id="information" >
        <div id="summary" class="details">
            <div class="ttt">
                <span class="tit">Summary</span>
                <span class="ui-icon ui-icon-pencil summary"></span>
            </div>
            <div id="summarytext">
                <p>
                    {% if user.summary %}
                        {{user.summary}}
                    {% else %}
                        God! There's a super LAAAAAAAAZZZZY guy......
                    {% endif %}
                </p>
            </div>
            <div id="summaryedit" style="display:none">
                <form id="edit" action="../edit/" method="Post">{% csrf_token %}
                    <div style="display:none;">
                        summaryEdition
                    </div>
                    <textarea id="summary" name="summary" value="1" ></textarea>
                    <button id="summarybutton">submit</button>
                </form>
                <button id="summarycb">cancel</button>
            </div>
        </div>
        <div id="thinkings" class="details">
            <div class="ttt">
                <span class="tit">Thinkings</span>
                <span class="ui-icon ui-icon-pencil thinkings"></span>
            </div>
            <div id="thinkingstext">
                <p>
                    {% if user.thinkings %}
                        {{user.thinkings}}
                    {% else %}
                        God! There's a super LAAAAAZZZZY guy......
                    {% endif %}
                </p>
            </div>
            <div id="thinkingsedit" style="display:none">
                <form id="edit" action="../edit/" method="post">{% csrf_token %}
                    <textarea id="thinkings" name="thinkings" value="1" >
                    {% if user.thinkings %}
                        {{user.thinkings}
                    {% endif %}
                    </textarea>
                    <button id="thinkingsbutton">submit</button>
                </form>
                <button id="thinkingscb">cancel</button>
            </div>
        </div>
        <div id="entertainement" class="details">
            <div class="ttt">
                <span class="tit">Entertainement</span>
                <span class="ui-icon ui-icon-pencil entertainement"></span>
            </div>
            <div id="entertainementtext">
                <p>
                    {% if user.entertainement %}
                        {{user.entertainement}}
                    {% else %}
                        God! There's a super LAAAAAZZZZY guy......
                    {% endif %}
                </p>
            </div>
            <div id="entertainementedit" style="display:none">
                <form id="edit" action="../edit/" method="post">{% csrf_token %}
                <textarea id="entertainement" name="entertainement" value="1" >
                {% if user.entertainement %}
                    {{user.entertainement}
                {% endif %}
                </textarea>
                <button id="entertainementbutton">submit</button>
                </form>
                <button id="entertainementcb">cancel</button>
            </div>
        </div>
        <div id="we_behavior" class="details">
            <div class="ttt">
                <span class="tit">We_behavior</span>
                <span class="ui-icon ui-icon-pencil we_behavior"></span>
            </div>
            <div id="we_behaviortext">
                <p>
                    {% if user.we_behavior %}
                        {{user.we_behavior}}
                    {% else %}
                        God! There's a super LAAAAAZZZZY guy......
                    {% endif %}
                </p>
            </div>
            <div id="we_behavioredit" style="display:none">
                <form id="edit" action="../edit/" method="post">{% csrf_token %}
                <textarea id="we_behavior" name="we_behavior" value="1" >
                {% if user.we_behavior %}
                    {{user.we_behavior}
                {% endif %}
                </textarea>
                <button id="we_behaviorbutton">submit</button>
                </form>
                <button id="we_behaviorcb">cancel</button>
            </div>
        </div>
        <div id="essentials" class="details">
            <div class="ttt">
                <span class="tit">Essentials</span>
                <span class="ui-icon ui-icon-pencil essentials"></span>
            </div>
            <div id="essentialstext">
                <p>
                    {% if user.essentials %}
                        {{user.essentials}}
                    {% else %}
                        God! There's a super LAAAAAZZZZY guy......
                    {% endif %}
                </p>
            </div>
            <div id="essentialsedit" style="display:none">
                <form id="edit" action="../edit/" method="post">{% csrf_token %}
                <textarea id="essentials" name="essentials" value="1" >
                {% if user.essentials %}
                    {{user.essentials}
                {% endif %}
                </textarea>
                <button id="essentialsbutton">submit</button>
                </form>
                <button id="essentialscb">cancel</button>
            </div>
        </div>
        <div id="messaging_conditions" class="details">
            <div class="ttt">
                <span class="tit">Messaging_conditions</span>
                <span class="ui-icon ui-icon-pencil messaging_conditions"></span>
            </div>
            <div id="messaging_conditionstext">
                <p>
                    {% if user.messaging_conditions %}
                        {{user.messaging_conditions}}
                    {% else %}
                        God! There's a super LAAAAAZZZZY guy......
                    {% endif %}
                </p>
            </div>
            <div id="messaging_conditionsedit" style="display:none">
                <form id="edit" action="../edit/" method="post">{% csrf_token %}
                    <textarea id="messaging_conditions" name="messaging_conditions" value="1" >
                    {% if user.messaging_conditions %}
                        {{user.messaging_conditions}
                    {% endif %}
                    </textarea>
                    <button id="messaging_conditionsbutton">submit</button>
                </form>
                <button id="messaging_conditionscb">cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}