{% extends 'website/base.html' %}
{% load staticfiles %}

{% block anchor %}
<li><a href="/login">Sign in</a></li>
{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'style/css/index.css' %}">

<div id="home">
    <div class="wrapper">
        <div id="main_logo">
        <a href="/">
            <img id="blog-logo" src="{% static 'img/main_logo.png' %}"/> <!-- Find a good image for the logo -->
        </a>
        </div>
        <div id="inscription">
            <div id="inscriptionField">
                <div id="textInscription">
                    <p id="welcome"> I want to meet people! I am a: </p>
                </div>
                <div id="genderInscription">
                    <button type="button" class="btn">Male</button>
                    <button type="button" class="btn">Female</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}