{% extends 'website/base.html' %}
{% load staticfiles %}

{% block anchor %}

{% if user.is_authenticated %}
    <li><a href="profile/match/">Match</a></li>
    <li><a href="profile/search/">Search</a></li>
    <li><a href="profile/home/">My account</a></li>
    <li><a href="profile/logout/">Log out</a></li>
{% else %}
  <li><a href="/login">Sign in</a></li>
{% endif %}
{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'style/css/index.css' %}">

<div id="home">
    <div class="wrapper">
        <div id="main_logo">
            <a href="/">
                <img src="{% static 'img/main_logo.png' %}"/> <!-- Find a good image for the logo -->
            </a>
        </div>
        <div id="inscription">
            <div id="inscriptionField">
                <div id="description">
                    <p id="welcome"> The real application that make you meet people!</p>
                </div>
                <div id="login">
                    <div>
                        <p> I already got an account!</p>
                    </div>
                    <div id="loginButton">
                        <form action="/login">
                            <button type="submit" class="btn btn-danger">Log in</button>
                        </form>
                    </div>
                </div>
                <div id="signup">
                    <div id="">
                        <p> I want to create an account!</p>
                    </div>
                    <div id="signupButton">
                        <form action="/signup">
                            <button type="submit" class="btn btn-danger">Sign up</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}