{% extends 'website/base.html' %}
{% load staticfiles %}

{% block anchor %}
<li><a href="../match/">Match</a></li>
<li><a href="">Search</a></li>
<li><a href="../home/">My account</a></li>
<li><a href="../logout/">Log out</a></li>
{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'style/css/search.css' %}">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>



<script src="{% static 'js/match.js' %}"></script>
<script>
    $(document).ready(function () {
        $(".container").css("height",$(".searchuserimg").css("height"));
    })
    $(window).resize(function () {
        var h = $(".card").css("height");
        var w = $(".card").css("width");
        var h1 = parseInt(h.slice(0,h.length-2));
        var w1 = parseInt(w.slice(0,w.length-2))
        if(w1 * 0.15 < 210){
            $(".searchuserimg").css("width","210px");
            $(".searchuserimg").css("height","210px");
            $(".container").css("height","210px");
            w1 = parseInt(w.slice(0,w.length-2)) *0.95 - 210;
            $(".container").css("width",w1 + "px");
            $(".card").css("height","210px");
        }else{

            $(".searchuserimg").css("width","15%");
            var t = $(".searchuserimg").css("width");
            $(".searchuserimg").css("height",t);
            $(".container").css("width","84.5%");
            $(".container").css("height",t);
            $(".card").css("height","inherit");
        }
    })
</script>
<div id="home">
    <div id="parametersWrapper">
        <div id="logoParameters">
            <img id="logo" src="{% static 'img/main_logo.png' %}"/>
        </div>
        <div id="parameters">
            <form id="search" action="../match_result/" method="post">{% csrf_token %}
                <div id="filtersWrapper">
                    <div id="filterChoice">
                        <input name="around" id="around" type="checkbox" checked data-toggle="toggle" data-on="People around me!" data-off="My own filters!">
                        <div id="searchButton">
                            <button class="btn btn-primary" type="submit" value="login">Search</button>
                        </div>
                    </div>
                    <div id="personalFilter">
                        <div class="col-xs-3">
                            <input class="form-control" name="minAge" id="minAge" type="text" placeholder="Age minimum">
                        </div>
                        <div class="col-xs-3">
                            <input class="form-control" name="maxAge" id="maxAge" type="text" placeholder="Age maximum">
                        </div>
                        <div class="col-xs-4">
                            <select multiple class="form-control" name="lookingFor" id="lookingFor">
                              <option value="sex">Casual sex</option>
                              <option value="friend">Friends</option>
                              <option value="short_term">Short term relationship</option>
                              <option value="long_term">Long term relationship</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="results">
        {% for user in users %}
            <div class="card" >
              <img class="searchuserimg" src="{% static 'img/img_avatar.png' %}" alt="Avatar">
              <div class="container">
                <div class="name"><p>{{user.username}}</p></div>
                  <div class="age"><p>{{user.age}}</p></div>
                  <div class="lookingfor"><p>{{user.looking_for}}</p></div>
                  <div class="orientation"><p>{{user.sexual_orientation}}</p></div>
              </div>
            </div>
        {% endfor %}
    </div>
    <div id="paginator">
        <div class="pagination">
            <span class="step-links">
                {% if users.has_previous %}
                    <a href="?page={{ users.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ users.number }} of {{ users.paginator.num_pages }}.
                </span>

                {% if users.has_next %}
                    <a href="?page={{ users.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}