{% extends 'website/base.html' %}
{% load staticfiles %}

{% block anchor %}
<li><a href="match/">Match</a></li>
<li><a href="search/">Search</a></li>
<li><a href="home/">My account</a></li>
<li><a href="logout/">Log out</a></li>
{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'style/css/home.css' %}">
<script>
    $(document).ready(function () {
        var h = $("#userPicture").css("height");
        $("#pictureAndName").css("height",h);
    })
    $(window).resize(function () {
        var w = $("#main_container").css("width");
        var h = $("#userPicture").css("height");
        $("#pictureAndName").css("height",h);
        var w1 = parseInt(w.slice(0,w.length-2))
        if(w1 < 960){
            $("#home").css("width","960px");
        }else{
            $("#home").css("width","90%");
        }
         location.reload();
    })
</script>
<div id="home">
    <div id="pictureAndName">
        <div id="profilePicture">
            <img id="userPicture" src="{{user.picture_url}}"/> <!-- Find a good image for the logo -->
        </div>
        <div id="userBasicInfo">
            <div id="username">
                {{ user.username }}
            </div>
            <div id="userAge">
                {% if user.gender == "w" %}
                    Women
                {% else %}
                    Men
                {% endif %}
                {% if user.sexual_orientation %}
                ,{{ user.sexual_orientation }}
                {% endif %}
                {% if user.looking_for %}
                    {% for looking in user.looking_for %}
                        {% if looking == "short_term" %}
                            Short.
                        {%elif looking == "long_term"%}
                            Long.
                        {%elif looking == "sex"%}
                            Sex.
                        {%else%}
                            Friend.
                        {%endif%}
                  {% endfor %}
                {% endif %}
                {% if user.age %}
                ,{{ user.age }}
                {% endif %}
            </div>
        </div>
    </div>
    <div id="information" >
        <div id="summary" class="details">
            <div class="ttt">
                <span class="tit">Summary</span>
            </div>
            <div id="summarytext">
                <p>
                    {% if user.summary %}
                        {{user.summary}}
                    {% else %}
                        God! There's a super LAAAAAAAAZZZZY guy......
                    {% endif %}
                </p>
            </div>
        </div>
        <div id="thinkings" class="details">
            <div class="ttt">
                <span class="tit">Thinkings</span>
            </div>
            <div id="thinkingstext">
                <p>
                    {% if user.thinkings %}
                        {{user.thinkings}}
                    {% else %}
                        God! There's a super LAAAAAZZZZY guy......
                    {% endif %}
                </p>
            </div>
        </div>
        <div id="entertainement" class="details">
            <div class="ttt">
                <span class="tit">Entertainement</span>
            </div>
            <div id="entertainementtext">
                <p>
                    {% if user.entertainement %}
                        {{user.entertainement}}
                    {% else %}
                        God! There's a super LAAAAAZZZZY guy......
                    {% endif %}
                </p>
            </div>
        </div>
        <div id="we_behavior" class="details">
            <div class="ttt">
                <span class="tit">We_behavior</span>
            </div>
            <div id="we_behaviortext">
                <p>
                    {% if user.we_behavior %}
                        {{user.we_behavior}}
                    {% else %}
                        God! There's a super LAAAAAZZZZY guy......
                    {% endif %}
                </p>
            </div>
        </div>
        <div id="essentials" class="details">
            <div class="ttt">
                <span class="tit">Essentials</span>
            </div>
            <div id="essentialstext">
                <p>
                    {% if user.essentials %}
                        {{user.essentials}}
                    {% else %}
                        God! There's a super LAAAAAZZZZY guy......
                    {% endif %}
                </p>
            </div>
        </div>
        <div id="messaging_conditions" class="details">
            <div class="ttt">
                <span class="tit">Messaging_conditions</span>
            </div>
            <div id="messaging_conditionstext">
                <p>
                    {% if user.messaging_conditions %}
                        {{user.messaging_conditions}}
                    {% else %}
                        God! There's a super LAAAAAZZZZY guy......
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}