div #home{
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 5%;
    top: 10%;
    display: block;
    width: 90%;
    height: auto;
    position: absolute;
    background-color: #eae1e7;
}

#pictureAndName{
    width: 100%;
    border: 1px solid #ffffff;
}

#profilePicture{
    float: left;
    width: 20%;
    height: 100%;
    border: 1px solid #ffff00;
}

#userBasicInfo{
    color: #2e6da4;
    text-align: center;
    margin-top: 5%;
    margin-left:3%;
    width: 60%;
    height: 50%;
    border: 1px solid #ffffff;
    float: left;
    font-family: Georgia;
}

#userPicture{
    width:100%;
}

#userAge{
    padding-top: 30px;
    width:100%;
    height:50%;
    font-size: 17px;
    border: 1px solid #ffffff;
}

#username{
    padding-top: 5%;
    width:100%;
    height:50%;
    font-size: 35px;
    border: 1px solid #ffff00;
}

#information{
    width: 100%;
    height: auto;
    border: 1px solid #ffff00;
    font-family: Georgia;
    color: #2e6da4;
    background-color: #eae1e7;
    margin-top: 30px;
}

#information span{
    margin-top: 50px;
    width: 100%;
    margin-bottom: 50px;
}

#information span div{
    /*border: 1px solid #ffffff;*/
}

#information span div .tit{
    margin-top: 5px;
    font-size: 30px;
    margin-left: 3%;
}

#information span div .ui-icon.ui-icon-pencil{
    clear: both;
    width: 20px;
    height: 20px;
    margin-bottom: 30px;
}

#information span div p{
    width: 90%;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5%;
    margin-bottom: 10px;
    margin-right: 5%;
}

#information span div textarea{
    width: 90%;
    height: 15%;
    font-size: 20px;
    margin-top: 7px;
    margin-left: 5%;
    margin-right: 5%;
}



#information span div form button{
    float: right;
    margin-right: 50px;
}

#information span div button{
    float: right;
    margin-right: 50px;
}

/*
#information span div span{
    width:30%;
    font-size: 30px;
    margin-left: 3%;
}

#information span p{
    font-size: 20px;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-right: 5%;
    border: 1px solid #ffffff;
}

#information span div span{
    float: right;
}

#essentials{
    margin-bottom: 20px;
}

.ui-icon.ui-icon-pencil{
    border: 1px solid #ffffff;
    float: left;
}
*/