div #home{
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 5%;
    top: 10%;
    display: block;
    width: 90%;
    height: auto;
    position: absolute;
}

#pictureAndName{
    width: 100%;
    background-color:#eae1e7 ;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 1px 1px 5px 5px #888888;
}

#profilePicture{
    float: left;
    width: 20%;
    height: 100%;
    border-bottom-left-radius: 20px;
}

#userBasicInfo{
    color: #2e6da4;
    margin-left:3%;
    width: 60%;
    height: 100%;
    float: left;
    font-family: Georgia;

}

#userPicture{
    width:100%;
    border-bottom-left-radius: 20px;
}

#userAge{
    padding-top: 30px;
    width:100%;
    height:50%;
    font-size: 30px;
    padding-left: 50px;
}

#username{
    padding-top: 35px;
    width:100%;
    height:50%;
    font-size: 55px;
}

#information{
    width: 100%;
    height: auto;
    font-family: Georgia;
    color: #000000;
    margin-top: 30px;
    font-size: 0;
}

#information div{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;

}

.details{
    background-color: #eae1e7;
    padding-bottom: 30px;
    border: 2px solid #ffffff;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 1px 1px 5px 5px #888888;
}

.details:hover {
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.2);
}

.ttt{
    width: 100%;
    height: 30px;
}

#information div div .tit{
    font-size: 30px;
    margin-left: 3%;
}

#information div div .ui-icon.ui-icon-pencil{
    clear: both;
    width: 20px;
    height: 20px;
    margin-bottom: 30px;
    margin-left: 5px;
}

#information div div p{
    width: 90%;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 4%;
    margin-bottom: 10px;
    margin-right: 5%;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 1px 1px 5px 5px #888888;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#information div div form textarea{
    width: 90%;
    height: 20%;
    font-size: 20px;
    margin-top: 7px;
    margin-left: 5%;
    margin-right: 5%;
    color: #000000;
}

#information div div form button{
    width: 200px;
    float: right;
    margin-right: 50px;
    color: #000000;
}

#information div div button{
    color: #000000;
    width: 200px;
    float: right;
    margin-right: 50px;
}

#summary{
    margin-top: 1%;
}

#summarytext,#thinkingstext,#entertainementtext,#we_behaviortext,#essentialstext,#messaging_conditionstext{
    width:90%;
}


/*
#information span div span{
    width:30%;
    font-size: 30px;
    margin-left: 3%;
}

#information span p{
    font-size: 20px;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-right: 5%;
    border: 1px solid #ffffff;
}

#information span div span{
    float: right;
}

#essentials{
    margin-bottom: 20px;
}

.ui-icon.ui-icon-pencil{
    border: 1px solid #ffffff;
    float: left;
}
*/