

.container {
  width: 100%;
  margin: 0 auto;
}

.logo{
    max-width: 100%;
    max-height: 100%;
}

div #main_logo{
    display: block;
    width: 100%;
    height: 80%;
    top: 10%;
    left:50%;
    margin-bottom: 5%;
}

div #main_logo img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


div #home{
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
    width: 750px;
    height: 417px;
    margin-top: -20%;
    margin-left: -375px;
}

div .wrapper{
    margin-left:auto;
    margin-right:auto;
    height:auto;
    width:auto;
}

div #inscription{
    text-align: center;
    width: 100%;
    height: 60%;
    clear:left;
}

div #inscriptionField{
  position: relative;
  top: 20%;
}

#welcome{
    margin-top: -10%;
    color: #FFFFFF;
    font-size:30px;
}

#login{
    margin-top:5%;
    margin-bottom:5%;
    color: #FFFFFF;
    font-size:25px;
}

#signup{
    color: #FFFFFF;
    font-size:25px;
    margin-top:5%;
    margin-bottom:5%;
}

#signup p{
    margin-bottom:3%;
}

#login p{
    margin-bottom:3%;
}

#genderInscription{
    margin-top: 5%;
}

button{
    margin-right:3%;
    height: 20%;
    width: 20%;
}