div #home{
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    top: 15%;
    left: 2.5%;
    right: 2.5%;
    background: #eae1e7;
    }

#logoParameters, #parameters {
    float: left;
    height: 100%;
    }

#logoParameters {
     width: 40%;
     background: #eae1e7;
    }

#parameters {
     width: 60%;

    }

#parametersWrapper{
     width: 100%;
     height: auto;
    float: left;
}

#personalFilter{
    margin-top: 10px;
    float: left;
    width: 100%;
    height: 40%;
}

#filtersWrapper{
    width: auto;
    height: auto;
}

#filterChoice{
    width: 20%;
    float: left;
}

#searchButton{
    margin-left:20%;
    float: left;
}

#filterandsearch{
    text-align: center;
    margin-left: 30%;
    margin-top: 5%;
}

#logo{
    width: 100%;
    height: 100%;
}

#results{
    margin-top:20px;
    width: 100%;
    height: auto;

    float: left;
}

.card {
    margin-left: 5%;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 90%;
    height:inherit;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float: left;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */


.container {
    margin-left: 0.05%;
    width: 84.95%;
    height: 100%;
    background: white;
    padding: 2px 16px;
    float: left;
}

#paginator{
    text-align: center;
}

.searchuserimg{
    width: 15%;
    float: left;
}

.gfdb{
    margin-left: 10px;
    float: left;
    font-family: Georgia;
    font-size: 20px;
    color: #2e6da4;
}

.tit{
    float: left;
    font-family: Georgia;
    font-size: 30px;
    color: #2e6da4;
}

.name,.age,.lookingfor,.orientation{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    width: 48%;
    height: 40px;

    margin-right: 2%;
    margin-top: 0.5%;
    padding-top: 0.5%;
    padding-left: 0.5%;



    float: left;
}

.description{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);

    font-family: Georgia;
    font-size: 20px;
    color: #2e6da4;

    margin-right: 2%;
    margin-top: 0.5%;
    padding-top: 0.5%;
    padding-left: 0.5%;

    width: 98%;
    height: 80px;

    float: left;
    overflow-y:scroll;
    word-wrap:break-word;
    margin-bottom: 10px;
}

.btn.btn-primary.follow,.btn.btn-primary.detail{
    margin-bottom: 1px;
    margin-right: 0.2%;
    width: 23%;
    float: right;
}

.btn.btn-primary.unfollow{
    margin-right: 1%;
    background: #ff0000;
    margin-bottom: 1px;
    margin-right: 0.2%;
    width: 23%;
    float: right;
}