#signupForm .label{
    color: black;
    font-size: 15px;
}

#home{
    left: 50%;
    top: 10%;
    display: block;
    position: absolute;
    width: 750px;
    height: 417px;
    margin-left: -375px;
}

#lookingFor{
    color: black;
}